{%- assign social = site.data.general.social-links -%}

<ul class="social-media-list">
  {%- if social.github -%}<li><a rel="me" href="https://github.com/{{ social.github }}"
      title="{{ social.github | escape }}" target= "_blank"><svg class="svg-icon">
        <use xlink:href="{{ '/assets/icons/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
  {%- if social.linkedin -%}<li><a rel="me"
      href="https://www.linkedin.com/in/{{ social.linkedin }}"
      title="{{ social.linkedin | escape }}" target= "_blank"><svg class="svg-icon">
        <use xlink:href="{{ '/assets/icons/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg></a></li>{%- endif -%}
</ul>