---
layout: default
---

<div class="row">
    <div class="col-1">
		 <div> 
			<h3 style="height:28.8px;" class="section-title"></h3>
			<p>April 23, 2021</p>
			<p>Just Eat Takeaway.com Recruiters</p>

		 </div>
    </div>
    <div class="col-2">
	 <div>
        <h3 style="height:28.8px;" class="section-title">Re:Senior Business Analyst at Just Eat Takeaway.com</h3>
        <p>Dear Just Eat Takeaway.com hiring manager. </p>
<p>I am excited to be applying for the open Senior Business Analyst role at Just Eat Takeaway.com, as my professional qualifications are closely aligned with it: 3+ years of experience on complex data interpretation and data analysis. I am used to translating business requirements into a technical solution, to support business needs. </p>

<p>I have to say as data lover, would be so much fun and delightful work with all kind of data provide by Just Eat Takeaway, mainly because this company’s values align with my “Lead, Deliver and Care”. Be the best I can be, deliver knowledge and results, and care about each other. </p>
<p>Currently I am a Business Intelligence Analyst at CIALNE, a company that works with poultry farming and livestock, with about 4.000 employees. As a BI analyst, I have designed pipelines to automate process using open-source tools. I am responsible for tracking all KPI’s from the company, working closely with the strategic management unit. Using a well know data visualization tool to develop and present clear and informative reports to the management team. </p>
<p>As a Senior Business Analyst, I would be excited to help the Data & Analytics team from Just Eat Takeaway get and spread interesting insights based on the data they get. </p>
<p>To illustrate the scope of my career history and professional competencies, please take a moment to review my enclosed resume. I would be happy to provide greater detail about my skills and experience during an interview. Please call me at your earliest convenience. </p>
<p>Looking forward to hearing from you soon. </p>


<p>Thank you for your time and attention. </p>
<p>Best regards</p>
<p>Paulo Igor Rivero. </p>

	</div>
	<div
    </div>
</div>