---
layout: default
---

<div class="row">
    <div class="col-1">
		 <div> 
			<h3 style="height:28.8px;" class="section-title"></h3>
			<p>April 30, 2021</p>
			<p>GameStop Recruitment team</p>

		 </div>
    </div>
    <div class="col-2">
	 <div>
        <h3 style="height:28.8px;" class="section-title">Re:Data Scientist at GameStop</h3>
        <p>Hi there! I'm Paulo Igor Rivero, from Brazil, and I have 3+ years of experience dealing with a large amount of data. Currently, I am working as a Business Intelligence Analyst I am part of the IT department ensuring data integrity and availability. I am responsible for tracking all the company's KPIs, working with the strategic management unit, ensuring that they are always up to date, impacting the performance of 28 managements. </p>
<p>I’m a creative person, who likes to solve problems in different ways, always open-minded to receive critics and help from everyone. I truly think that many heads think better than one! Before being a data lover, I already was a gamer, since my childhood It was my kind of entertainment, and I have to say, I still the same. Once I had a chance to live in Dublin, and every time I walked in the city centre, I spent some time and money at GameStop story, mostly getting some games to my PSVITA at the time.</p>
<p>Backing to my professional profile, Yes! I am a data lover! I am really curious to discover what data can bring about the business and mostly about the users. Would be amazing work with all kind of data provided by GameStop using all my experience and analytics skills to support important decisions. When the subject is machine learning, natural language process, or anything related to Data Science, I’m crazy about it! Enthusiastic, could spend hours talking about, and figuring out a lot of possibilities we can reach using all of this. </p>
<p>As a Data Scientist at GameStop would be amazing, in so many ways. Get all data about games and clients, then generate and spread interesting insights based on it. Using my knowledge to improve what they already have, and learning with them to improve me as a person and professional.</p>
<p>I would be happy to provide greater detail about my skills and experience during an interview. Please call me at your earliest convenience. </p>
<p>Looking forward to hearing from you soon.</p>




<p>Thank you for your time and attention. </p>
<p>Kind regards</p>
<p>Paulo Igor Rivero. </p>

	</div>
	
    </div>
</div>