---
layout: default
---

<div class="row">
    <div class="col-1">
		 <div> 
			<h3 style="height:28.8px;" class="section-title"></h3>
			<p>April 23, 2021</p>
			<p>Tripaneer Recruitment team</p>

		 </div>
    </div>
    <div class="col-2">
	 <div>
        <h3 style="height:28.8px;" class="section-title">Re:Data Scientist at Tripaneer</h3>
        <p>Dear Tripaneer hiring team. </p>
<p>I am excited to be applying for the open Data Scientist role at Tripaneer, as my professional qualifications are closely aligned with it: 3+ years of experience dealing with large amount of data, translating meaningless data into a valuable information, making business requirements become technical solution, to support business needs. Developing a data-driven culture in companies I've worked. </p>

<p>I am a passionate about traveling, I had some wonderful experiences traveling when I lived in Republic of Ireland six years ago. Travel is beautiful way to enrich our life, that’s why I feel Tripaneer’s culture and values harmonize with mine. And as data lover, would be amazing work with all kind of data provide by Tripaneer, helping to understand clients’ needs and improve company results. </p>

<p>Currently I am a Business Intelligence Analyst at CIALNE, a company that works with poultry farming and livestock, with about 4.000 employees. As a BI analyst, I’m part of the IT department ensuring data integrity and availability to generate insights. I have designed pipelines to automate process using open-source tools. I am responsible for tracking all KPI’s from the company, working closely with the strategic management unit. Using a well know data visualization tool to develop and present clear and informative reports to the management team. </p>
<p>As a Data Scientist, I would be excited to help Tripaneer get and spread interesting insights based on the data they get. Using my knowledge to improve what they already have, and learning with them to improve me as person and professional </p>
<p>To illustrate the scope of my career history and professional competencies, please take a moment to review my enclosed resume. I would be happy to provide greater detail about my skills and experience during an interview. Please call me at your earliest convenience. </p>
<p>Looking forward to hearing from you soon. </p>




<p>Thank you for your time and attention. </p>
<p>Best regards</p>
<p>Paulo Igor Rivero. </p>

	</div>
	<div
    </div>
</div>